{% load i18n %}
{% load allauth %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    <hr>
    <h2>{% translate "Or use a third-party" %}</h2>

    <div class="social-login">
        {% for provider in socialaccount_providers %}
            {% if provider.id == "google" %}
                <a href="{% provider_login_url provider.id process="login" %}" class="btn btn-danger btn-block">
                    <i class="fab fa-google"></i> {% translate "Login with Google" %}
                </a>
            {% endif %}
        {% endfor %}
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
