{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">  
  <div class="row">
    <div class="col-md-12 mb-3 padtop">
      <div class="p-3 bg-dark text-white rounded ">
        <p>You don't have time to catch your dino? Do you want a boost? Here you can buy a dino to start at Ark: Survival Evolved</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm bg-dark text-white padding">
        <div class="row no-gutters">
          <div class="col-md-8">
            <img class="img-fluid" src="{{ most_selling_dinosaur.image.url }}" alt="{{ most_selling_dinosaur.name }}" style="width: 100%; height: auto; object-fit: cover;">
          </div>
          <div class="col-md-4 d-flex flex-column">
            <div class="card-body">
              <h5 class="card-title">{{ most_selling_dinosaur.name }}</h5>
              <p class="card-text">Health: {{ most_selling_dinosaur.health }}%</p>
              <p class="card-text">Attack: {{ most_selling_dinosaur.attack_power }}%</p>
              <p class="card-text">Server: {{ most_selling_dinosaur.server }}</p>
            </div>
            <div class="mt-auto p-3">
              <div class="btn-group">
                {% if most_selling_dinosaur %}
                <a href="{% url 'item_page' most_selling_dinosaur.id %}" class="btn btn-secondary">See More</a>                
                <a href="{% url 'add_to_basket' most_selling_dinosaur.id %}" class="btn btn-primary">Add to Basket</a>
                {% endif %}
              </div>
              <small class="text-white">${{ most_selling_dinosaur.price }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}