{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">  
  <div class="row">
    <div class="col-md-12 mb-3 padtop">
      <div class="p-3 bg-dark text-white rounded ">
        <p>You don't have time to catch your dino? Do you want a boost? Here you can buy a dino to start at Ark: Survival Evolved</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm bg-dark text-white padding">
        <div class="row no-gutters">
          <div class="col-md-8">
            <img class="img-fluid" src="{% static 'images/t-rex.jpeg' %}" alt="Dinosaur Image" style="width: 100%; height: auto; object-fit: cover;">
          </div>
          <div class="col-md-4 d-flex flex-column">
            <div class="card-body">
              <h5 class="card-title">T-rex</h5>
              <p class="card-text">Health: 155%</p>
              <p class="card-text">Attack: 255%</p>
              <p class="card-text">Server: EU1</p>
            </div>
            <div class="mt-auto p-3">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-white">$9.99</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}