{% extends "base.html" %}
{% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <div class="container-signup">
        <h1 class="signup-heading">{% trans "Sign Up" %}</h1>
        <p>
            {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>
        {% url 'account_signup' as action_url %}
        <form class="signup-form" method="post" action="{{ action_url }}">
            {% csrf_token %}
            {% comment %}Form fields will be here{% endcomment %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
        </form>
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
{% endblock content %}
