{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
            {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'add_dinosaur' %}" class="btn btn-primary mt-3">Add New Dinosaur</a>
            {% endif %}
        </div>
    </div>
    <h2 class="text-center mb-4">Our Dinosaurs</h2>
    <div class="row no-margin-right">
        {% for dinosaur in dinosaurs %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ dinosaur.image.url }}" class="card-img-top img-fluid" alt="{{ dinosaur.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ dinosaur.name }}</h5>
                    <p class="card-text">{{ dinosaur.description }}</p>
                    <p class="card-text">Health: {{ dinosaur.health }}</p>
                    <p class="card-text">Attack Power: {{ dinosaur.attack_power }}</p>
                    <p class="card-text">Server: {{ dinosaur.server }}</p>
                    <p class="card-text">Price: ${{ dinosaur.price }}</p>
                    <a href="{% url 'add_to_basket' dinosaur.id %}" class="btn btn-primary">Buy Now</a>
                    <a href="{% url 'item_page' dinosaur.id %}" class="btn btn-secondary">See More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}